<?xml version="1.0" encoding="utf-8"?>
<configuration>
  
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler,NLog"/>
  </configSections>
  <appSettings>
    <!--数据库连接串-->
    <add key="ConnectionString" value="server =AFOIG-611211055\SQLSERVER2012;database =GTHLJHRB;uid=sa;pwd=000000"/>
  <!--3DES密钥-->
    <add key="3DESKey" value="lsBnINDxtct8HZB7KCMyhWSJ"/>
    <!--RSA私钥-->
  <add key="RSAPrivateKey" value="MIICdQIBADANBgkqhkiG9w0BAQEFAASCAl8wggJbAgEAAoGBAIVLAoolDaE7m5oMB1ZrILHkMXMF6qmC8I/FCejz4hwBcj59H3rbtcycBEmExOJTGwexFkNgRakhqM+3uP3VybWu1GBYNmqVzggWKKzThul9VPE3+OTMlxeG4H63RsCO1//J0MoUavXMMkL3txkZBO5EtTqek182eePOV8fC3ZxpAgMBAAECgYBp4Gg3BTGrZaa2mWFmspd41lK1E/kPBrRA7vltMfPj3P47RrYvp7/js/Xv0+d0AyFQXcjaYelTbCokPMJT1nJumb2A/Cqy3yGKX3Z6QibvByBlCKK29lZkw8WVRGFIzCIXhGKdqukXf8RyqfhInqHpZ9AoY2W60bbSP6EXj/rhNQJBAL76SmpQOrnCI8Xu75di0eXBN/bE9tKsf7AgMkpFRhaU8VLbvd27U9vRWqtu67RY3sOeRMh38JZBwAIS8tp5hgcCQQCyrOS6vfXIUxKoWyvGyMyhqoLsiAdnxBKHh8tMINo0ioCbU+jc2dgPDipL0ym5nhvg5fCXZC2rvkKUltLEqq4PAkAqBf9b932EpKCkjFgyUq9nRCYhaeP6JbUPN3Z5e1bZ3zpfBjV4ViE0zJOMB6NcEvYpy2jNR/8rwRoUGsFPq8//AkAklw18RJyJuqFugsUzPznQvad0IuNJV7jnsmJqo6ur6NUvef6NA7ugUalNv9+imINjChO8HRLRQfRGk6B0D/P3AkBt54UBMtFefOLXgUdilwLdCUSw4KpbuBPw+cyWlMjcXCkj4rHoeksekyBH1GrBJkLqDMRqtVQUubuFwSzBAtlc"/>
  <!--RSA公钥-->
    <add key="RSAPublicKey" value="MIGfMA0GCSqGSIb3DQEBAQUAA4GNADCBiQKBgQCJkx3HelhEm/U7jOCor29oHsIjCMSTyKbX5rpoAY8KDIs9mmr5Y9r+jvNJH8pK3u5gNnvleT6rQgJQW1mk0zHuPO00vy62tSA53fkSjtM+n0oC1Fkm4DRFd5qJgoP7uFQHR5OEffMjy2qIuxChY4Au0kq+6RruEgIttb7wUxy8TwIDAQAB"/>
  
    <!--测试用的resv_name_id-->
    <add key="Test_RESV_Name_ID" value="39320"/>
    
    
    <!--票通分配给开发者的编码-->
    <add key="PlatformCode" value="11111111"/>
    <!--4位平台简介-->
    <add key="Prefix" value="DEMO"/>
    <!--版本-->
    <add key="Version" value="1.0"/>
    
    
    
    
    
  <!--接口url-->
  <add key="ElectronicBlue" value="http://fpkj.testnw.vpiaotong.cn/tp/openapi/invoiceBlue.pt"/>
    <add key="PaperBlue" value="http://fpkj.testnw.vpiaotong.cn/tp/openapi/invoicePaperCommon.pt"/>
    <add key="ElectronicRed" value="http://fpkj.testnw.vpiaotong.cn/tp/openapi/invoiceRed.pt"/>
    <add key="PaperRed" value="http://fpkj.testnw.vpiaotong.cn/tp/openapi/invoiceRed.pt"/>
     <add key="PaperQuery" value="http://fpkj.testnw.vpiaotong.cn/tp/openapi/queryPaperInvoice.pt"/>
    <add key="ElectronicQuery" value="http://fpkj.testnw.vpiaotong.cn/tp/openapi/queryInvoice.pt"/>
    <!--接口url-->
    
  
  </appSettings>
  
  <!--日志配置-->
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd">
    <targets>
      <target name="*.log" type="File" fileName="${basedir}/logs/${shortdate}.log"
              layout="${longdate} ${callsite} ${level} ${message}"/>
    </targets>
    <rules>
      <logger name="*" minlevel="Debug" maxlevel="Error" writeTo="*.log" />
    </rules>
  </nlog>
  <!--日志配置-->
  
  
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
</configuration>
